.venv/
__pycache__/
*.pyc
.env
.streamlit/secrets.toml

# Modelos ML pesados (no se versionan en el repo, no se usan actualmente, pero por si acaso los dejo)
*.pkl
*.keras
xgb_meta_model*.json

# Backend / frontend
# "backend/models" ya no se usa para almacenar modelos, pero por si acaso lo dejo
backend/models/ 
backend/data/
backend/.env
frontend/.env
